<!DOCTYPE html>
<html>
<head>
  <%- include('partials/header') %>
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container">

    <div class="page-header text-center">
      <header>
        <h1>Get Messages</h1>
      </header>
    </div>

    <p>user:</p>
    <code>
      <%= user %>
    </code>

    <p>data:</p>
    <code>
      <%= data %>
    </code>

  </div>
  <%- include('partials/footer') %>
</body>
</html>
